@import "../../App.scss";

.sign-up-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 25%;
  .sign-up {
    text-align: center;
    margin-top: 1rem;
  }
}

.sign-up {
  display: flex;
  font-weight: 700;
}

#register_password:hover {
  border: solid 1px $base-color;
}

.register-button {
  width: 100%;
  margin-top: 1rem;
}

.ant-form-item {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.ant-form-item-label {
  display: flex;
  line-height: 1.5;
}

.ant-form label {
  font-size: 1rem;
}

.ant-form-item-label > label::after {
  content: none;
}
.ant-form-item-required::before {
  content: none;
}
.ant-col-sm-offset-8 {
  margin-left: 0;
}

// RADIO BUTTONS
.radio-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 1rem 0 2rem 0;
  @media (max-width: 500px) {
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  label {
    display: flex;
    flex-flow: row nowrap;
    vertical-align: middle;
    margin-right: 101px;
    @media (max-width: 500px) {
      margin-right: 0px;
    }
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 157.97%;
    /* identical to box height, or 38px */
    text-align: center;
    /* Thunder */
    color: #362e34;
  }
  div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

.radio {
  height: 31px;
  width: 31px;
  border-radius: 31px;
  background-color: #c4c4c4;
  margin-right: 24px;
}

.radio:hover {
  cursor: pointer;
}

.checked-radio {
  height: 31px;
  width: 31px;
  border-radius: 31px;
  background-color: #0e7c7b;
  margin-right: 24px;
}

.checked-radio:hover {
  cursor: pointer;
}
